* {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.clr {
    clear: both;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

#main-bar {
    width: 100%;
    height: 60px;
    background-color: #02918c;
}

.logo {
    width: 20%;
    float: left;
}

.logo img {
    margin-top: 20px;
}

.menu {
    float: left;
    width: 80%;
}

.menu ul {
    text-align: end;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    line-height: 60px;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 21px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

/*banner part start*/
#banner {
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    padding-top: 210px;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 210px;
}

.banner-text h3 {
    font-size: 28px;
    font-weight: 400;
}


.banner-text h1 {
    font-size: 68px;
    font-weight: 800;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.banner-text p {
    font-size: 18px;
}

.dari img {
    padding-top: 50px;
}

#banner .button1 {
    margin-top: 50px;
}

#banner .button1 a {
    color: #fff;
    padding: 16px 40px;
    border: 2px solid yellow;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 4px;
    background-color: transparent;
    transition: 0.5s;
}

#banner .button1 a:hover {
    color: rgb(0, 0, 0);
    background-color: yellow;
    border: none;
    padding: 16px 40px;
}

/*banner part end*/

/* about me section start */

.upper-text {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.upper-text h2 {
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 100px;
}

.upper-text h4 {
    color: #7e8287;
}

.upper-text p {
    color: #7e8287;
    font-size: 18px;
    padding: 34px 100px 110px 100px;
}

#about-me .extra {
    font-size: 24px;
    font-weight: 800;
}

#about-me .fa-lightbulb {
    font-size: 33px;
    color: #02918c;
}

.detail-one {
    width: 14%;
    text-align: center;
    float: left;
    border-right: 2px solid rgb(126, 130, 135, 0.6);
    padding-right: 60px;
    padding-left: 60px;
}

.border-right {
    border-right: none;
}

.detail-one h3 {
    font-weight: 800;
    font-size: 18px;
    color: #7e8287;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding-top: 28px;
    padding-bottom: 28px;
}

.detail-one p {
    font-weight: 400;
    font-size: 14px;
    color: #7e8287;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

.fa-pencil-alt {
    font-size: 33px;
    color: #02918c;
}

.fa-cog {
    font-size: 33px;
    color: #02918c;
}

.fa-laptop {
    font-size: 33px;
    color: #02918c;
}

/* about me section end */

/* banner2 section start */
#banner2-section {
    background: url(../images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 150px;
}

.contant {
    padding-top: 70px;
    width: 50%;

}

.contant h2 {
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.contant h4 {
    color: #7e8287;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 26px;
}

.contant p {
    color: #7e8287;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}

.jhamela {
    width: 50%;
}

.kechal1 {
    width: 40%;
    float: left;
    padding-right: 46px;
}

.detail-two {

    font-family: 'Open Sans', sans-serif;
    padding-top: 56px;
    text-align: left;

}

.bottom-padding {
    padding-bottom: 80px;
}

.detail-two h3 {
    font-weight: 800;
    font-size: 16px;
    color: #7e8287;
    padding-top: 12px;
    padding-bottom: 18px;
}

.fa-globe-africa {
    color: #02918c;
    font-size: 33px;
}

.fa-search {
    color: #02918c;
    font-size: 33px;
}

.fa-clock {
    color: #02918c;
    font-size: 33px;
}

.fa-chart-bar {
    color: #02918c;
    font-size: 33px;
}

.detail-two p {
    font-size: 12px;
    font-weight: 400;
    color: #7e8287;
    line-height: 20px;

}

/* banner2 section end */

/* my work section start */

.my-work-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
}

.my-work-text h2 {
    font-weight: 800;
    color: #02918c;
    font-size: 46px;
}

.my-work-text h4 {
    font-size: 16px;
    color: #7e8287;
    padding: 28px 0;
}

.my-work-text p {
    font-size: 16px;
    color: #7e8287;
    line-height: 40px;
    padding: 0 200px;
}

.images-banner {
    margin-top: 80px;
    margin-bottom: 100px;
}

.img1 {
    width: 25%;
    float: left;
    position: relative;
}

.classic-overlay h3 {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 56px;
}

.classic-overlay p {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    line-height: 20px;
}

.classic-overlay {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 268px;
    height: 200px;
    background-color: rgb(2, 145, 140, 0.6);
    opacity: 0;
    transition: 0.8s;
}

.img1:hover .classic-overlay {
    opacity: 1;

}

.my-work-bottom-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
}

.my-work-bottom-text h2 {
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
}

.my-work-bottom-text h4 {
    color: #7e8287;
    font-size: 16px;
    padding: 28px 0;
}

.my-work-bottom-text p {
    color: #7e8287;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding: 0 200px;
}

/* my work section end */

/* form section start */

#form-section {
    background-color: rgb(29, 16, 16);
    width: 100%;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
}

.form-main {
    text-align: center;
    padding-top: 60px;
}

.form-start input {
    width: 630px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #7e8287;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
    outline: 0;
}

input {
    color: azure;
}

.email {
    margin: 65px 0;

}

.message input {
    width: 926px;

}

.design-with-line {
    width: 926px;
    background-color: #7e8287;
    height: 2px;
    margin-top: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-for-submit a {
    padding: 18px 40px;
    color: black;
    background-color: yellow;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    transition: 0.8s;
    font-size: 12px;
}

.button-for-submit {
    margin: 64px 0;
    display: inline-block;
}

.button-for-submit a:hover {
    background-color: rgb(139, 177, 2);
    font-size: 16px;
}

/* form section end */

/* bottom of the page start */

#bottom-of-the-page {
    width: 100%;
    background-color: #0b0b0b;

}

.bottom-text-folio p {
    text-align: center;
    color: #7e8287;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 34px 0;
}

/* bottom of the page end */